.nav-top {
    height: 3rem;
}

.my_link:hover {
    color: #20c997;
}

.bg-acqua {
    background-color: #20c997;
}

.my_overlay {
    background-color: rgb(32, 201, 151, .5);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all .15s ease-in-out;
    border-radius: 0.375rem;
}

.my_card:hover .my_overlay {
    opacity: 1;
}

.my_overlay .my_add-button {
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.my_overlay .my_add-button:hover {
    scale: 1.08;
}

.my-form .form-label {
    margin-bottom: 0;
}

.my_form .my_form_control {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
    padding: 0.375rem 0;
    transition: border-color .15s ease-in-out;
}

.my_form .my_form_control:focus {
    border-color: #000;
    box-shadow: unset;
}

.bg-blue {
    background-color: rgb(34, 47, 63);
}

.bg-light-blue {
    background-color: rgb(45, 66, 91);
}